body {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #ffe1e3;
}

.button {
    margin: 8px 0;
    padding: 12px 22px;
    font-size: 17px;
    width: 40%;
    cursor: pointer;
    border-radius: 20px;
    transition: transform 0.25s ease-in-out;
    margin-left: 300px; 
}

.button:nth-of-type(1) { background-color: #6CB4EE; }
.button:nth-of-type(2) { background-color: #CD5C5C; }
.button:nth-of-type(3) { background-color: #87A96B; }
.button:nth-of-type(4) { background-color: #F0E68C; }
.button:nth-of-type(5) { background-color: #DDA0DD; }
.button:nth-of-type(6) { background-color: #F29F58; }
.button:nth-of-type(7) { background-color: #FFC0CB; }

.button:hover {
    transform: scale(1.15);
    opacity: 0.9;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#square {
    margin-right: 300px;
    width: 300px;
    height: 300px;
    position: relative;
    opacity: 0;
    visibility: hidden;
    transition: top 1s ease, opacity 1s ease;
    border: 10px solid transparent;
}

#highlight-box {
    width: 320px;
    height: 320px;
    margin: 300px;
    border: 10px solid transparent;
    border-radius: 10px;
    visibility: hidden;
    position: relative;
    transition: opacity 0.5s ease, top 0.5s ease;
}